@import "./components/CharacterCard/CharacterCard.css";
@import "./components/SearchBar/SearchBar.css";
@import "./components/NavButton/NavButton.css";
@import "./components/NavPagination/NavPagination.css";
@font-face {
  font-family: "Get Schwifty";
  src: url("assets/font/get_schwifty.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

:root {
  --color-primary: rgb(51, 51, 51);
  --color-secondary: #f4ffdb;
  --font-family: system-ui;
  --color-font: #bfde42;
  --color-font2: #90a734;
  --color-bg: #193840;
  --color-bg2: #f0ed8e;
  --color-accent: #42b4ca;
}

body {
  font-family: "Get Schwifty", system-ui, sans-serif;

  color: var(--color-primary);
  padding: 0px;
  background-color: var(--color-bg2);
}

main {
  display: block;

  background-color: var(--color-bg2);

  padding: 2rem;
}

.title {
  position: sticky;
  top: 0;
  margin: 0;
  color: var(--color-font);
  background-color: var(--color-bg);
  text-align: center;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
}
