@import url('./styles.css');

.search-bar-container {
  width: auto;
}

.search-bar {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: var(--color-secondary);
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 24px;
  border-radius: 20px;
}

.search-bar:focus-within {
  border: 2px solid var(--color-accent);
}

.search-bar__input {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
}

.search-bar__button {
  border: none;
  background-color: transparent;
}

.search-bar__input:focus {
  outline: none;
}

.search-bar__icon {
  width: 20px;
}

.search-bar:active,
.search-bar:focus {
  border-color: var(--color-accent) solid 2px;
}
